.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;

}

.content {
  text-align: center;
}

.log-on {
  margin-bottom: 20px;
}

.logo {
  margin-bottom: 20px;
  text-align: center; /* Center the logo */
}

.logo img {
  width: 180px; /* Adjust the width of the logo */
}

.form-field {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left; /* Align labels to the left */
}

.input-text {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.otp-field {
  display: flex;
  justify-content: space-between;
}

.otp-field input {
  text-align: center; /* Center the input in the password box */
}

.log_btn {
  /* Adjust button width */
  width: auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin: 0 auto; /* Center the button */
}

.log_btn:hover {
  background-color: #0056b3;
}

.sing-up {
  margin-top: 20px;
}

.sing-up a {
  color: #007bff;
  padding: 5px;
}
